<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CfgDotNet" version="1.2.0" targetFramework="net45" />
  <package id="MediatR" version="2.0.0-beta-002" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.10.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
</packages>